

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@*<link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
<link href="~/Content/Site.css" rel="stylesheet" />
<style>
    table tr:not([class="OfflineStep"]):not([class="FurtherStep"]):hover td,
    table tr:not([class="OfflineStep"]):not([class="FurtherStep"]):hover td a {
        color: white;
        font: bold;
        background-color: lightblue !important; /**/
    }

    .col-md-1 {
        margin-top: 10px;
    }

    .td {
        text-align: center;
        color: red;
    }

    .H2 {
        font-family: 'Kanit', sans-serif;
        color: goldenrod;
    }
</style>
<h2 class="H2">ทดสอบ H2</h2>
<p>
    @Html.ActionLink("Go to Index", "Index3")
</p>*@


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >Open modal for </button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
<link href="~/Content/select2.min.css" rel="stylesheet" />

@section Scripts
{
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/i18n/Thai.json"></script>
    <link href="~/Scripts/datatable/dataTables.bootstrap.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "ordering": false,
                "pageLength": 50,
                "filter": false,
                "bFilter": true,
                "bLengthChange": false,
                "scrollCollapse": true,
                "scrollY": "650px",
            });
        });

        //$(document).ready(function () {
        //    $('#process').select2();
        //    $('#package').select2();
        //    $('#packgegroup').select2();
        //    $('#device').select2();
        //});
    </script>

    <script language="javascript">
        function strauto() {
            var text = document.getElementById('lot').value;
            var str = new String(text);
            var str = str.toUpperCase();
            document.getElementById('lot').value = str;
        }
    </script>
}
